<button type="button" (click)="switchPasswordEncryption()">{{
    isPasswordEncrypted ?
    'Decrypt' : 'Encrypt' }}</button>
<button type="button" (click)="deletePassword()">Delete</button>
<button *ngIf="!isSharedPassword" type="button" (click)="sharePassword()">Share</button>
<label *ngIf="!isSharedPassword" for="web-adderss">User login: </label>
<input *ngIf="!isSharedPassword" id="user-login" [(ngModel)]="sharePasswordCommand.userLogin" placeholder="user login">
<br>
<label>Web adderss: {{password.webAdderss}} Login: {{password.login}} Password: {{password.passwordText}} Description
    {{password.description}}</label>