<h2>Create password</h2>
<div id="passwor-table">
    <label for="web-adderss">WebAdderss: </label>
    <input id="web-adderss" [(ngModel)]="createPasswordCommand.webAdderss" placeholder="web adderss">
    <br>
    <label for="login">Login: </label>
    <input id="login" [(ngModel)]="createPasswordCommand.login" placeholder="login">
    <br>
    <label for="password-text">Password: </label>
    <input id="password-text" [(ngModel)]="createPasswordCommand.passwordText" placeholder="password text">
    <br>
    <label for="description">Description: </label>
    <input id="description" [(ngModel)]="createPasswordCommand.description" placeholder="description">
    <br>
    <button type="button" (click)="createPassword()">Create</button>
</div>
<h2>Passwords</h2>
<div *ngFor="let password of passwords">
    <password-details [password]="password" [signInData]="signInData" (deletePasswordEvent)="deletePassword($event)"
        [isSharedPassword]="false">
    </password-details>
</div>
<br>