<h2>Change password</h2>
<div>
    <label for="old-password">Old password: </label>
    <input id="old-password" [(ngModel)]="signInData.password" placeholder="old password">
    <br>
    <label for="new-password">New password: </label>
    <input id="new-password" [(ngModel)]="updateUserCommand.password" placeholder="new password">
    <br>
    <label for="IsPasswordKeptAsHash">Is password hash by SHA512?</label>
    <input type="checkbox" [(ngModel)]="updateUserCommand.isPasswordKeptAsHash" />
    <br>
    <button type="button" (click)="changePassword()">Change</button>
</div>